*.o
*.swp
*.swo
*.a
lexer.c
config_gram.c
config_gram.h

.deps/
INSTALL
Makefile
Makefile.in
ac_cfg.h
ac_cfg.h.in
aclocal.m4
autom4te.cache/
avrdude
avrdude.conf
avrdude.conf.tmp
avrdude.spec
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/mdate-sh
doc/texinfo.tex
install-sh
missing
stamp-h1
windows/.deps/
windows/Makefile
windows/Makefile.in
ylwrap

